.container {
  align-items: center;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.introText {
    font-size: 18px;
    line-height: 1.2;
    max-width: 60ch;
}

.item {
  flex: 0 1 250px;
  text-align: center;
  display: block;
  background: #fff;
  border-radius: 2rem;
  margin: 1rem;

  img {
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
    object-fit: cover;
    height: 100%;
    max-width: 100%;
  }
}

.container2 {
  display: flex;
  flex-wrap: wrap;
}

.item2 {
  flex: calc(50% - 1rem);
  display: block;
  background: #dbe6ec;
  border-radius: 1rem;
  padding: 1rem;
  margin: 0.5rem;
}

.input {
  display: block;
  max-width: 100%;
  padding: 0.5rem;
  margin: 1rem auto;
  width: 300px;
}

.error {
  color: red;
  border: 1px solid red;
  padding: 2rem;
}

.button {
  margin: 0 auto;
  display: block;
}

body {
  background: #f7f6f5;
}
