.container {
  align-items: center;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.item {
  flex: 0 1 250px;
  text-align: center;
  display: block;
  background: #fff;
  margin: 1rem;
  object-fit: cover;
  height: 400px;
  max-width: 100%;
}

.input {
  display: block;
  max-width: 100%;
  padding: 0.5rem;
  margin: 1rem auto;
  width: 300px;
}

.error {
  color: red;
  border: 1px solid red;
  padding: 2rem;
}

.button {
  margin: 0 auto;
  display: block;
}
