.container {
  filter: blur(8px);
}

.successContainer {
  background-color: #bef;
  margin-top: 1rem;
  padding: 1rem;
  width: 100%;
  max-width: 30rem;
}

.visuallyHidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.title {
  margin-bottom: 2rem;
}

.formGrouping {
  display: flex;
  flex-direction: column;
  max-width: 30rem;
}

.inputLabel {
  margin-bottom: 1rem;

  input {
    width: 100%;
  }
}

.agreeToTerms {
  margin-bottom: 1rem;
}

.resetButton {
  margin-right: 1rem;
}
