.container {
  filter: blur(7px);
}

.visuallyHidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.title {
  margin-bottom: 2rem;
}

.formGrouping {
  display: flex;
  flex-direction: column;
  max-width: 30rem;
}

.inputLabel {
  margin-bottom: 1rem;

  input {
    width: 100%;
  }
}
