html,
body {
  font-size: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

fieldset {
  border: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button,
input {
  font-size: inherit;
}

#root {
  height: 100%;
}

.slider {
  height: 100%;
}

.slide {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 10%;
  height: 100vh;
  width: 100vw;
}

.slide-content {
  flex: 1;
}

.slide-code {
  flex: 1;
}
